body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: lightyellow;
}

#password {
  width: 40%;
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
}

#strength {
  width: 40%;
  height: 20px;
  margin-top: 20px;
  background: #ddd;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  color: transparent;
}

#strength::-webkit-progress-value {
  background: #00ff00;
}

#strength::-moz-progress-bar {
  background: #00ff00;
}
