body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: lightgoldenrodyellow;
}

#password {
  width: 40%;
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
}

#progress-bar {
  width: 40%;
  height: 20px;
  margin-top: 20px;
  background-color: darkgray;
  border-radius: 10px;
}

#progress-fill {
  height: 100%;
  width: 0;
  background-color: red;
  border-radius: 10px;
  transition: width 0.25s ease-in-out, background-color 0.25s ease-in-out;
}
